/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
/* Media breakpoints */
$mobile: "(min-width: 576px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$large: "(min-width: 1200px)";
$huge: "(min-width: 1680px)";

/* Text Color */
$facebook: #3b5998;
$google: #013648;
$github: #013648;
$black: #000;
$white: #fff;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  max-width: 100%;
}
